<%- include ../layouts/header.ejs %>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Company</h3>
                </div>
                <div class="panel-body">
                    <img src="https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="img-responsive" alt="Placeholder Image">
                    <p class="text-justify">
                        This section allows you to add a new company to our system. Fill in the fields with accurate
                        information, including the company name and address.Once submitted, the company will be added to
                        our database.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Employee</h3>
                </div>
                <div class="panel-body">
                    <img src="https://images.pexels.com/photos/1181534/pexels-photo-1181534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="img-responsive" alt="Placeholder Image">
                    <p class="text-justify">
                        This section allows you to add a new employee to our system. Enter the employee's full name,
                        Email, Company, Date of birth, Joining date and Leaving date. Once submitted, the employee will
                        be added to our records.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">List Company/Employees</h3>
                </div>
                <div class="panel-body">
                    <img src="https://images.pexels.com/photos/164686/pexels-photo-164686.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="img-responsive" alt="Placeholder Image">
                    <p class="text-justify">
                        This section allows you to list or display all the details of company and employees
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%- include ../layouts/footer.ejs %>